.employee-container{
  background-color: var(--background-color-white);
  padding: 1rem;
  border: 1.5px solid var(--border-color-light);
  border-radius: 15px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 200px;
  }
  
  button {
    padding: 8px 12px;
    margin-left: 10px;
  }
