.salary-container{
    background-color: var(--background-color-white);
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 15px;
  }
  .navbar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    
    input[type="text"] {
      padding: 8px;
      width: 200px;
    }
    
    button {
      padding: 8px 12px;
      margin-left: 10px;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 12px;
      color: var(--text-color-dark);
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 4px;
      text-align: left;
  
    }
    
    th {
      background-color: var(--table-header);
    }
    